body {
    margin: 50px;
}

#game-container {
    display: grid;
    height: 200px;
    width: 200px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-grid-item {
    background-color: lightgray;
}

.game-grid-item.checked {
    background-color: white;
}