#dropdown-container {
    position: relative;
}
#list-container {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px 0px;
    background-color: white;
    width: 160px;
    position: absolute;
    z-index: 1;
}
#dropdown {
    padding: 8px 16px;
    width: fit-content;
    border-radius: 8px;
    background-color: lightcyan;
    margin-bottom: 2px;
}
.drop-item {
    padding: 8px 16px;
}
.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}

#gallery {
    display: flex;
    align-items: center;
    gap: 10px;
}
#gallery-viewport {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#gallery-containder {
    position: absolute;
    display: flex;
    flex: 1;
}
.arrow {
    padding: 8px 16px;
    background-color: aquamarine;
    border-radius: 100px;
}
#circles-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px 0;
}
.circle {
    height: 4px;
    width: 4px;
    border: 1px solid black;
    border-radius: 100px;
}
.circle.active {
    background-color: black;
}
.img-item {
    min-height: 300px;
    min-width: 300px;
}

.img1 {
    background-image: url(./static/IMG_2198A.png);
    background-size: 300px;
}

.img2 {
    background-image: url(./static/IMG_2198B.png);
    background-size: 300px;
}

.img3 {
    background-image: url(./static/IMG_2198C.png);
    background-size: 300px;
}

.img4 {
    background-image: url(./static/IMG_2198D.png);
    background-size: 300px;
}

.img5 {
    background-image: url(./static/IMG_2198E.png);
    background-size: 300px;
}