body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 16px 16px 24px 16px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

form > div {
    margin-bottom: 8px;
}

.error.active {
    padding: 8px;
    border-radius: 8px;
    width: fit-content;
    background-color: red;
    color: white;
}

.error.warning {
    padding: 8px;
    border-radius: 8px;
    width: fit-content;
    background-color: lightgray;
    color: black;
}

input:valid {
    background-color: lightgreen;
}

